### Основные команды SQL, которые должен знать каждый

#### SHOW DATABASES
SQL-команда, которая отвечает за просмотр доступных баз данных.
#### CREATE DATABASE
Команда для создания новой базы данных.
#### USE
С помощью этой SQL-команды USE <database_name> выбирается база данных, необходимая для дальнейшей работы с ней.
DROP DATABASE
Стандартная SQL-команда для удаления целой базы данных.
#### SHOW TABLES
С помощью этой несложной команды можно увидеть все таблицы, которые доступны в базе данных.
#### CREATE TABLE
SQL-команда для создания новой таблицы:

In [ ]:
CREATE TABLE <table_name1> (
  <col_name1><col_type1>,
  <col_name2><col_type2>,
  <col_name3><col_type3>
  PRIMARY KEY(<col_name1>),
  FOREIGN KEY(<col_name2>) REFERENCES <table_name2>(<col_name2>)
);

Ограничения целостности при использовании CREATE TABLE
Может понадобиться создать ограничения для определённых столбцов в таблице. При создании таблицы можно задать следующие ограничения:

ячейка таблицы не может иметь значение NULL;
первичный ключ — PRIMARY KEY(col_name1, col_name2, …);
внешний ключ — FOREIGN KEY(col_namex1, …, col_namexn) REFERENCES table_name(col_namex1, …, col_namexn).
Можно задать больше одного первичного ключа. В этом случае получится составной первичный ключ.

Пример
Создайте таблицу «instructor»:

In [ ]:
CREATE TABLE instructor (
  ID CHAR(5),
  name VARCHAR(20) NOT NULL,
  dept_name VARCHAR(20),
  salary NUMERIC(8,2),
  PRIMARY KEY (ID),
  FOREIGN KEY (dept_name) REFERENCES department(dept_name)
);

#### DESCRIBE
С помощью DESCRIBE <table_name> можно просмотреть различные сведения (тип значений, является ключом или нет) о столбцах таблицы.
INSERT
Команда INSERT INTO <table_name> в SQL отвечает за добавление данных в таблицу:

#### INSERT

In [ ]:
INTO <table_name> (<col_name1>, <col_name2>, <col_name3>, …)
  VALUES (<value1>, <value2>, <value3>, …);

При добавлении данных в каждый столбец таблицы не требуется указывать названия столбцов.

In [ ]:
INSERT INTO <table_name>
  VALUES (<value1>, <value2>, <value3>, …);

#### UPDATE
SQL-команда для обновления данных таблицы:

In [ ]:
    
UPDATE <table_name>
  SET <col_name1> = <value1>, <col_name2> = <value2>, ...
  WHERE <condition>;

#### DELETE
SQL-команда DELETE FROM <table_name> используется для удаления данных из таблицы.

#### DROP TABLE
А так можно удалить всю таблицу целиком.

#### SELECT
Далее мы рассмотрим основные команды SQL, которые позволяют работать непосредственно с данными. К одной из таких SQL-команд относится SELECT для получения данных из выбранной таблицы:

In [ ]:
SELECT <col_name1>, <col_name2>, …
  FROM <table_name>;
Следующей командой можно вывести все данные из таблицы:

SELECT * FROM <table_name>;

#### SELECT DISTINCT
В столбцах таблицы могут содержаться повторяющиеся данные. Используйте SELECT DISTINCT для получения только неповторяющихся данных.

In [ ]:
SELECT DISTINCT <col_name1>, <col_name2>, …
  FROM <table_name>;

#### WHERE
Можно использовать ключевое слово WHERE в SELECT для указания условий в запросе:

In [ ]:
SELECT <col_name1>, <col_name2>, …
  FROM <table_name>
  WHERE <condition>;

В запросе можно задавать следующие условия:

сравнение текста;
сравнение численных значений;
логические операции AND (и), OR (или) и NOT (отрицание).
Пример
Попробуйте выполнить следующие команды. Обратите внимание на условия, заданные в WHERE:

In [ ]:
SELECT * FROM course WHERE dept_name=’Comp. Sci.’;
SELECT * FROM course WHERE credits>3;
SELECT * FROM course WHERE dept_name='Comp. Sci.' AND credits>3;
SQL-команды: пример вывода с WHERE

#### GROUP BY
Оператор GROUP BY часто используется с агрегатными функциями, такими как COUNT, MAX, MIN, SUM и AVG, для группировки выходных значений.

In [ ]:
SELECT <col_name1>, <col_name2>, …
  FROM <table_name>
  GROUP BY <col_namex>;

Пример
Выведем количество курсов для каждого факультета:

In [ ]:
SELECT COUNT(course_id), dept_name
  FROM course
  GROUP BY dept_name;

Задание 1.

Выберите базу данных student_info

 Просмотрите строки из таблиц courses, exam_result и др.

Посмотрите столбцы StudentName таблицы Student

Задание 2.

 Всех экзаменационные дни, которые проходят в аудитории 2408.

Соберите запрос (из следующих фрагментов), выдающий список 341 группы (из демонстрационной базы) в порядке убывания номеров зачеток.

Соберите запрос (из следующих фрагментов), выдающий номера групп, в которых есть более 10 студентов

Соберите запрос, который укажет специализацию для каждого студента

Соберите запрос про студентов-отличников (Фрагменты могут использоваться не все).

Соберите запрос список студентов-двоечников.

Соберите запрос список студентов-двоечников в группе 341.

Отобразит общее число студентов в каждой группе.

В помощь https://andreyex.ru/bazy-dannyx/baza-dannyx-mysql/25-primerov-komandy-select-v-mysql/